.footer {
  height: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 0px 104px;
  font-family: "Roboto400", Arial, sans-serif;
  font-weight: 400;
}

.footer__copyright {
  color: #b6bcbf;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  margin: 0;
}

.footer__links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 40px;
  text-decoration: none;
}

.footer__links-words {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}

.footer__links-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 900px) {
  .footer {
    margin-top: 300px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    max-width: 475px;
    margin: 500px 0px 10px 0px;
    padding: 0px;
    align-items: flex-start;
    justify-content: center;
  }

  .footer__copyright {
    margin: 38px 0px 0px;
  }

  .footer__links {
    align-items: flex-start;
    margin-left: 0px;
    gap: 100px;
  }
  .footer__links-words {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
