.newscard {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 576px;
  border-radius: 16px;
  background-color: #FFF;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.newscard__image {
  min-height: 272px;
}

.newscard__keyword-container {
  max-width: 100px;
  background-color: #FFF;
  border-radius: 10px;
  position: absolute;
  top: 24px;
  left: 24px;
}

.newscard__keyword-container_disabled {
  display: none;
}

.newscard__keyword {
  margin: 0px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0;
  padding: 8px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newscard__icon-and-tooltip {
  position: absolute;
  top: 0px;
  right: 0px;
}

.newscard__icon-and-tooltip:hover .newscard__tooltip {
  opacity: 1;
  visibility: visible;
}

.newscard__tooltip {
  width: max-content;
  max-height: 40px;
  position: absolute;
  top: 24px;
  right: 69px;
  background-color: #FFF;
  border-radius: 10px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 500;
  padding: 14px 16px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.newscard__tooltip_disabled {
  display: none;
}

.newscard__bookmark {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url("../../assets/bookmarknormal.svg");
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.newscard__bookmark:hover {
  background-image: url("../../assets/bookmarkhover.svg");
}

.newscard__bookmark_clicked {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url("../../assets/bookmarksaved.svg");
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.newscard__trashcan {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url("../../assets/trashcangray.svg");
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.newscard__trashcan:hover {
  background-image: url("../../assets/trashcanblack.svg");
}

.newscard__date {
  padding: 20px 24px 0px;
  margin-top: auto;
  font-size: 18px;
}

.newscard__title {
  /* font-family: "Roboto-Slab"; */
  padding: 0px 24px 0px;
  margin: 0px 0px 16px;
  font-size: 26px;
  height: 60px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newscard__description {
  padding: 0px 24px 0px;
  margin: 0px;
  font-size: 16px;
  height: 110px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newscard__source {
  padding: 0px 24px 24px;
  margin-bottom: auto;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}