/* .newscard__container {
  display: flex;
} */

.newscard {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 576px;
  border-radius: 16px;
  background-color: #FFF;
  overflow: hidden;
}

.newscard__image {

}

.newscard__date {
  padding: 0px 24px 0px;

}

.newscard__title {
  padding: 0px 24px 0px;

}

.newscard__description {
  padding: 0px 24px 0px;

}

.newscard__source {
  padding: 0px 24px 0px;

}